{% extends 'others/base.html' %} 
{% load static %}

{% block title %} Edit blog {% endblock title %} 

{% block content %}
<style>
    body, html{
        height: 100%;
        width: 100%;
        background: fixed black center no-repeat;
    }
    .card{
        margin: 20px 10px;
        /* position: absolute; */
    }
    .card-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-footer img{
        margin-right: 10px ;
    }
    .input-group{
        padding-top: 10px;
    }
    .input-group input{
        border: none;
        background: transparent;
    }
    .btn{
        border: none;
    }
    .icons:hover{
        background-color: red;
    }
    .card-content{
        display: flex;
    }
    .all_comments{
        text-decoration: none;
    }
    .all_comments:hover{
        text-decoration: underline;
    }
    .home_container{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .row{
        width: 90%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .col2{
        /* position: absolute; */
        margin-left: 10px;
        /* width: 100%; */
    }
    .col1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    
</style>
<div class="container-fluid home_container">
    <div class="row">
        <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9 col1">
            {% if object_list %}
            {% for post in object_list %} 
            <div class="card" style="max-width: 80%;">
                <div class="card-header">
                    {% if post.posted_by.profile_photo %}
                    <img src="{{ post.posted_by.profile_photo.url }}" class="rounded" alt="..." style="height: 30px; width: 30px;">
                    <a href="{% url 'myprofile' post.posted_by.pk %}" style="text-decoration: none; color: black;">{{ post.posted_by }}</a>
                    {% else %}
                    <img src="/static/images/jeremy-perkins-UgNjyPkphtU-unsplash.jpg"class="rounded" alt="..." style="height: 30px; width: 30px;">
                    <a href="{% url 'myprofile' post.posted_by.pk %}" style="text-decoration: none; color: black;">{{ post.posted_by }}</a>
                    {% endif %}
                </div>
                <a href="{% url 'postdetails' post.pk%}">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="..." style = "height: 400px;">
                </a>
                <div class="card-body">
                    <div class="icons-group" style="padding-bottom: 10px;">
                        <form action="{% url 'like_post' post.pk %}" method="post">
                            {% csrf_token %}
                            {% if user in post.likes.all %}
                                <button class = 'btn-sm btn' type="submit" name = 'post_id' value = '{{ post.id }}' style="background-color: red;">
                                    <i class="far fa-heart"></i> {{ post.likes.all.count }}                          
                                </button> 
                                {% else %}
                                <button class = 'btn-sm btn' type="submit" name = 'post_id' value = '{{ post.id }}'>
                                    <i class="far fa-heart"></i> {{ post.likes.all.count }}                                
                                </button> 
                            {% endif %}
                        </form>
                    </div>
                    <small>
                        <a href="{% url 'postdetails' post.pk %}" class='all_comments text-muted'>
                            <p>
                                View all {{ post.comments.all | length }} comments
                            </p>
                        </a>
                    </small>
                    <div class="card-content">
                        <p class="card-text">
                            <span class='usertag' style="padding-right: 5px; font-weight: 600;"><a href="{% url 'myprofile' post.posted_by.pk %}" style="text-decoration: none; color: black;">{{ post.posted_by }}</a>
                            </span> {{ post.image_caption }}
                        </p>
                    </div>
                    <small>
                        <p class='text-muted' style="padding-top: 5px;">
                            Posted {{ post.date_published | timesince }} ago.
                        </p>
                    </small>
                </div>
                <div class="card-footer">
                    <div class="input-group mb-3">
                        <img src="{{ post.posted_by.profile_photo.url }}" class=" img-fluid rounded" alt="..." style="height: 35px; width: 35px;">
                        <form class = 'd-flex' action="{% url 'comment' post.pk %}" method="post" style="max-width: 92%;">
                            {% csrf_token %}
                            {{ form.body }}
                            <button class="btn btn-sm btn-outline-secondary" type="submit" id="button-addon2">Post</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p>
                    No Posts at the moment
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}