{% extends 'others/base.html' %} 

{% block title %} Edit blog {% endblock title %} 

{% block content %}
<style>
    body, html{
        height: 100%;
        width: 100%;
    }
    .card{
        margin: 20px 10px;
        /* position: absolute; */
    }
    .card-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-footer img{
        margin-right: 10px ;
    }
    .input-group{
        padding-top: 10px;
    }
    .input-group input{
        border: none;
        background: transparent;
    }
    .btn{
        border: none;
    }
    .icons:hover{
        background-color: red;
    }
    .card-content{
        display: flex;
    }
    .all_comments{
        text-decoration: none;
    }
    .all_comments:hover{
        text-decoration: underline;
    }
    .home_container{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    /* .col1{
        padding-left: 250px; 
        position: relative;
    } */
    .row{
        width: 80%;
        height: max-content;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .col2{
        /* position: absolute; */
        background-color: aqua;
        /* width: 100%; */
    }
    
</style>
<div class="container-fluid home_container">
    <div class="row">
        <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9 col1">
            {% if object_list %}
            {% for post in object_list %} 
            <div class="card" style="max-width: 80%;">
                <div class="card-header">
                    <img src="/static/images/jeremy-perkins-UgNjyPkphtU-unsplash.jpg" class="rounded" alt="..." style="height: 30px; width: 30px;">
                    {{ post.posted_by }}
                </div>
                <img src="{{ post.image.url }}" class="card-img-top" alt="..." style = "height: 400px;">
                <div class="card-body">
                    <div class="icons-group" style="padding-bottom: 10px;">
                        <a href="">
                            <img src="/static/images/heart.png" alt="" style="height: 20px; width: 20px;">
                        </a>
                        <a href="">
                            <img src="/static/images/speech-bubble.png" alt="" style="height: 20px; width: 20px;margin-left: 10px;">
                        </a>
                    </div>
                    <small>
                        <a href="{% url 'postdetails' post.pk %}" class='all_comments text-muted'>
                            <p>
                                View all {{ post.comments.all | length }} comments
                            </p>
                        </a>
                    </small>
                    <div class="card-content">
                        <p class="card-text">
                            <span class='usertag' style="padding-right: 5px; font-weight: 600;"> {{ post.posted_by }} </span> {{ post.image_caption }}
                        </p>
                    </div>
                    <small>
                        <p class='text-muted' style="padding-top: 5px;">
                            Posted {{ post.date_published | timesince }} ago.
                        </p>
                    </small>
                </div>
                <div class="card-footer">
                    <div class="input-group mb-3">
                        <img src="/static/images/jeremy-perkins-UgNjyPkphtU-unsplash.jpg" class=" img-fluid rounded" alt="..." style="height: 35px; width: 35px;">
                        <form class = 'd-flex' action="{% url 'comment' post.pk %}" method="post">
                            {% csrf_token %}
                            {{ form.body }}
                            {{ form.posted_by }}
                            {{ form.post }}
                            {{ form.error }}
                            <button class="btn btn-sm btn-outline-secondary" type="submit" id="button-addon2">Post</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p>
                    No Posts at the moment
                </p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-3 col2" style="background-color: aqua;">
        {% for profile in profiles %}
            <div class="ui segment">
                {{ profile }}
                <br>
                <a href="{% url 'myprofile' profile.pk %}">
                <button class="ui primary button"> See Profile </button>
                </a>
            </div>
            {% endfor %}       
        </div> 
    </div>
</div>
<script>
    var name = '{{ user.pk }}';
    document.getElementById('user').value = name;
</script>
{% endblock content %}